:root {
    --text-color: #040006;
    --dark-red: #ab0d25;
    --dark-color: #505252;
    --normal-red: rgb(192, 30, 22);
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

* {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border: none;
    outline: none;

    transition: all 0.2s linear;
    transition: width none;
    text-decoration: none;
    text-transform: capitalize;

    -webkit-tap-highlight-color: transparent;
}

a:hover {
    text-decoration: none;
}

.color--dark {
    color: rgb(80, 82, 82);
}

.bg-color--dark {
    color: rgb(80, 82, 82);
}

.color--cam {
    background: #e36009;
}

.color--hong {
    background: #f78bba;
}

.color--tim {
    background: #41339e;
}

.color--xam {
    background: #cccaca;
}

.color--xanhduong {
    background: #002394;
}

.color--white {
    background-color: white;
}

.color--vang {
    background: #f5d9a1;
}

.color--xanhnhat {
    background: #c5d8f0;
}

.color--red {
    background-color: var(--dark-red);
}

.color--xanhdam {
    background: #282857;
}

.color--xanhla {
    background: #b5ebdd;
}

.color--den {
    background: #000000;
}

.bg-color--xam {
    background-color: #f7f7f7
}

.bg-color--dark {
    background-color: rgb(231, 231, 231) !important;
}

.color--dark-red {
    background-color: #ab1111;
}

.color--green {
    background-color: #25801f;
}

.color--nau {
    background-color: #8a3a3a;
}

.color--light-pink {
    background-color: rgb(252, 231, 230) !important;
}

.btn {
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 11px;

    text-decoration: none;
    outline: none;
    border: none;
    font-weight: 500;

    font-size: 11px;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 13px 15px;
    width: 340px;
    min-height: 40px;
}

.btn:hover {
    background-color: var(--dark-red);
    border: none;
}

.btn:focus {
    background-color: var(--dark-red);
    border: none;
}

.btn:active {
    background-color: var(--dark-red) !important;
    border: none;
    outline: none;
}

.btn-primary {
    background-color: var(--dark-red);
}

.btn-dark {
    background-color: #000;
}

.btn-search {
    padding: 10px;
    border-bottom: 1px solid #000;
    height: 20px;
}

.btn:hover {
    opacity: 1;
}

/* header */
.header {
    max-height: 110px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;

    top: 0;
    left: 0;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;

    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #eaeaea;
    background-color: white;
}

.header.active {
    max-height: 75px;
}

.header.active .header-top {
    margin: 10px 60px 0 60px;
}

.header.active .header-menu {
    margin: 10px 0;
}

.header-top {
    margin: 20px 40px 0 40px;
}

.header-logo {
    transition: all ease .3s;
    height: 32px;
    width: 200px;
}

.header-logo.active {
    width: 150px;
    height: 29px;
}

.header-logo .logo-link {

    font-size: 28px;
}

.header-logo .logo-link .logo-image {
    border: 0;
    height: 28px;
    width: 100%;
}

.header-auth .auth-list .auth-item {
    list-style: none;
    position: relative;

}

.header-auth .auth-list .auth-item .shopping-icon {
    font-size: 16px;
    cursor: pointer;
}

.header-auth .auth-list .auth-item .cart-number {
    position: absolute;
    right: 30%;
    top: 20%;
    width: 10px;

    color: #fff;
    height: 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.header-auth .auth-list .auth-item .auth-link {
    color: var(--text-color);
    margin: 0 5px;
    font-weight: 400;
}

.header-menu {
    display: none;
}

.header-menu .menu-list {
    /* bottom: 5px; */
    /* top: 0;
    left: 0px;
    position: absolute; */
    text-align: center;

    /* -webkit-transition: all ease .3s;
    transition: all ease .3s;
    width: 100%; */
    display: block;
}

.header-menu .menu-list .menu-item {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;

    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    padding: 0 15px 20px;
    z-index: 1000;
}

.header-menu .menu-list .menu-item .item-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    opacity: 0;
    z-index: 1000;
    display: none;
}

.header-menu .menu-list .menu-item .item-content .content-container:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}

.header-menu .menu-list .menu-item .menu-link {
    color: #040006;
}

.header-menu>.menu-list>.menu-item--selected.menu-item:hover>.item-content {
    opacity: 1;
    display: block;
}

.header-menu .menu-list .menu-item:nth-child(3) .menu-link {
    color: #ab0d25
}

.header-menu .menu-list .content-title {
    margin-bottom: 20px;
    padding: 0 25px;
}

.header-menu .menu-list .content-title>.content-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #848685;
    color: var(--text-color);

    width: 100%;
    display: block;
    cursor: default;
}

.header-menu .menu-list .content-title>.content-link:hover {
    text-decoration: none;
}

.header-menu .menu-list .content-list {
    padding: 0 25px;
}

.header-menu .menu-list .content-item {
    list-style: none;
}

.header-menu .menu-list .content-item .content-link {
    color: var(--text-color);
    margin-bottom: 13px;
    display: block;
    line-height: 16px;
}

.header-menu .menu-list .content-item .content-link:hover {
    opacity: .65;
    text-decoration: none;
}

.section {
    margin-top: 80px;
    position: relative;
}

/* silder */

.image-slider .image-item {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px; */
    margin-bottom: 0;
}

.image {
    /* margin-bottom: 20px; */
    width: 100%;
}


.image img {
    width: 100%;
    height: 80vh;

    object-fit: cover;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;

    align-items: center;
    background-color: transparent;
    z-index: 2;
}

.slick-prev.pull-left.slick-arrow,
.slick-next.pull-right.slick-arrow {
    outline: none;

}

.slick-arrow i {
    color: white;
    font-size: 40px;

}

.slick-prev {
    outline: none;
    left: 0;
}

.slick-next {
    outline: none;
    right: 0;
}

.slick-dots {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%, 300%);

    bottom: 5%;
    display: flex !important;
    align-items: center;
    justify-content: center;

    gap: 0 20px;
    list-style: none;
}

.slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: transparent;
    border: 1px solid white;
    outline: none;
}

.slick-dots .slick-active {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    outline: none;

}

/* auth form */
.auth-form {
    position: fixed;
    z-index: 1000;
    max-width: 400px;
    overflow: hidden;

    padding: 0 25px;
    background-color: #fff;
    top: 0px;
    right: 0;
    /* height: calc(100% - 50px) */

    height: 100vh;
    transform: translateX(100%);
}

.auth-form.active {
    transform: translateX(0);
}

.auth-form .form-icon {
    position: absolute;
    top: 22px;
    right: 25px;
    cursor: pointer;

    z-index: 10;

}

.auth-form .form-icon i {
    font-size: 25px;
    transform: rotate(90deg);
}

.auth-form .form-content {
    padding-top: 95px;
}

.auth-form .form-content .form-title i {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--dark-color)
}

.auth-form .form-content .form-title p {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--dark-color)
}

.auth-form .form-group .form-input {
    border-bottom: 1px solid var(--dark-color) !important;
    height: 45px;
    outline: none;

}

.auth-form .form-group .form-link {
    text-align: right;
    margin-bottom: 20px;

}

.auth-form .form-group .form-link a {
    color: var(--dark-color);
    text-decoration: underline;
    text-transform: none;
    min-height: 40px;
    display: inline-block;
}

/* cart */
.cart {
    position: fixed;
    z-index: 1000;
    max-width: 400px;
    overflow: hidden;

    padding: 0 25px;
    background-color: #fff;
    top: 0px;
    right: 0;
    /* height: calc(100% - 50px) */

    height: 100vh;
    transform: translateX(100%);
}

.cart.active {
    transform: translateX(0);
}

.cart .form-icon {
    position: absolute;
    top: 22px;
    right: 25px;
    cursor: pointer;

    z-index: 10;
}

.cart .form-icon i {
    font-size: 25px;
    transform: rotate(90deg);
}

.cart .cart-content {
    padding-top: 95px;
}

.cart .cart-content .form-title i,
p {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--dark-color)
}

.cart .cart-content .form-title p {
    color: var(--dark-color)
}

.cart h2 {
    font-size: 20px;
    margin-top: 70px;
    color: var(--dark-color)
}

.cart-btn {
    margin-top: 50px;
}

/* cart-item */
.cart-item {
    max-width: 340px;
}

.cart-item .item-image {
    width: 97px;
    cursor: pointer;
}

.cart-item .item-info {
    width: calc(100% - 155px);
    min-height: 103px;
    padding: 10px 0 0 14px;
    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
}

.cart-item .item-info .info-title {
    font-size: 13px;
    margin: 0;
    width: 100%;

    color: var(--dark-color);
}

.cart-item .item-info .item-color {
    min-height: 30px;
    margin: 10px 10px 0;
}

.cart-item .item-info .item-color span {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border: 1px solid #ccc;

    display: inline-block;
    border-radius: 50%;
    font-size: 12px;
}

.cart-item .item-info .item-quantity,
.cart-item .item-info .item-size {
    font-size: 11px;
}

.cart-item .item-info .item-size span {
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
}

.cart-item .item-info .item-quantity span,
.cart-item .item-info .item-quantity .item-amount {
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
}

.cart-item .item-info .item-quantity .item-amount {
    font-size: 13px;
    margin-left: 10px;
    display: inline-block;
}

.cart-item .item-info .item-quantity .item-amount a {
    display: inline-block;
    width: 14px;
    background: #000;
    color: #fff;

    height: 14px;
    line-height: 14px;
}

.cart-item .item-info .item-quantity .item-amount span {
    margin: 0 5px;
}

.cart-item .item-info .item-price {
    font-size: 13px;
    float: right;
}

.cart-item .item-info .item-price span {
    color: var(--normal-red);
}

.cart-item .item-remove {
    font-size: 16px;
}

.cart .summary-item {
    position: absolute;
    bottom: 10%;
}

.cart .summary-item .product-summary {
    margin-bottom: 25px;
    padding: 10px 0;
    font-size: 11px;
}

.cart .summary-item .product-summary .poduct-total {
    display: inline-block;
    font-size: 18px;
}

.cart .summary-item .product-summary span {
    font-weight: bold;
    color: var(--dark-color);
    font-size: 18px;

}

.cart .summary-item .product-summary .poduct-total .number {
    margin-right: 5px;
}



/* product */
.product {
    margin-top: 40px;
}

.product .search .search-heading {
    line-height: 20px;
    font-size: 18px;
    padding: 30px 0 20px 0px;
    text-transform: uppercase;
    font-weight: 400;
}

.product .search .search-sub {
    color: #505252;
    font-size: 11px;
    margin: 0 10px 20px;
    text-align: left;
    display: block;
}

.product .pagination {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.product .pagination .pagination-item {
    font-size: 15px;
    color: #000;
    padding: 0px 10px;
    height: 57px;
    display: inline-block;
    line-height: 56px;
    color: #000;
    font-weight: bold;
}

.product .pagination .pagination-item.active {
    border-bottom: 2px solid #000;
    display: inline-block !important;
}


.product .product-pro {}

.product .product-pro .product-list {}

.product .product-pro .product-list .product-item {
    clear: both;
    position: relative;
    float: left;
}

.product .product-pro .product-list .product-item .product-link {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    background-color: #fff;
}

.product .product-pro .product-list .product-item .product-link .image-hover {
    z-index: 3;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    opacity: 1;
}

.product .product-pro .product-list .product-item .product-link .image-show {
    opacity: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.product .product-pro .product-list .product-item .product-link a:hover>.image-hover {
    opacity: 0;
}

.product .product-pro .product-list .product-item .product-link a:hover>.image-show {
    opacity: 1;
}

.product .product-pro .product-list .product-item .product-link .image-hover .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;

    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;

    max-width: 100%;
    width: auto;
    height: auto;
}

.product .product-pro .product-list .product-item .product-link .image {}

.product .product-pro .product-list .product-item .product-detail {
    position: relative;
    background: #fff;
    width: 100%;
    z-index: 20;
    text-align: center;

}

.product .product-pro .product-list .product-item .product-detail>div {
    padding-top: 34px;
    padding-bottom: 37px;
    font-size: 12px;
    height: 140px;
}

.product .product-pro .product-list .product-item .product-detail .detail-cover {
    margin-bottom: 7px;
}

.product .product-pro .product-list .product-item .product-detail .detail-cover .detail-name {
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    overflow-wrap: break-word;

    overflow: hidden;
    text-transform: uppercase;
    color: #040006;
    font-weight: 400;
}

.product .product-pro .product-list .product-item .product-detail .detail-cover .detail-name:hover {
    text-decoration: none;
}

.product .product-pro .product-list .product-item .product-detail .detail-cover .price {
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.product .product-pro .product-list .product-item .product-detail .price .price-old {
    font-weight: normal;
    margin-right: 5px;
    text-decoration: line-through;
    font-size: 14px;
}

.product .product-pro .product-list .product-item .product-detail .price .price-new {
    font-weight: 500;
    color: var(--dark-red);
    display: inline-block;
    font-size: 14px;
}

.product-detail:hover .product-add {
    height: 100%;
}

.product-detail:hover .product-add .product-view-add {
    opacity: 1;
}

.product-add {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 140px;
    height: 0%;

    z-index: 20;
    left: 10px;
    overflow: hidden;
    -webkit-transition: height 0s ease 0.25s;
    transition: height 0s ease 0.25s;
}

.product-view {
    width: 100%;
    height: 100%;
    display: block;
}

.product-view-add {
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    bottom: 0px;
    position: absolute;

    opacity: 0;
    -webkit-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
}

.product-view .product-color {
    padding: 20px 10px;
}

.product-view .product-color>div {
    text-align: center;
    height: auto;
}

.product-view .product-color .color-item {
    min-height: 30px;
    margin: 10px 10px 0;
}

.product-view .product-color .color-item .color {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border: 1px solid #ccc;

    display: inline-block;
    border-radius: 50%;
}



.product-view .product-color .color-item span.selected {
    border-color: #000;
    border: 1px solid #000;
}

.product-view .product-color .product-select {
    display: none;
}

.product-view-add .product-size {
    padding: 0 10px 10px;
    margin: 0;
}

.product-view-add .product-size .size-list {
    display: inline-block;
    margin: 0 10px 5px;
}

.product-view-add .product-size .size-list a {
    position: relative;
}

.product-view-add .product-select-size {
    width: 100%;
    background: #eaeaea;
    text-align: center;
    padding: 4px;

    margin: 0;
    font-size: 10px;
    display: none;
}

.product-view-add .product-btn button {
    margin: 0 !important;
    position: relative;
    height: 40px;
}

/* product-page */
.product-page {
    margin-bottom: 72px;
}

/* footer */
.footer-top>p {
    font-size: 11px;
    margin: 12px 0 10px;
}

.footer-icon {
    font-size: 20px;
}

.footer-container {
    max-width: 510px;
    margin: auto;
    padding: 0;
}

.footer-container .footer-form input {
    height: 45px;
    width: 100%;
    font-size: 14px;
    padding: 0 11px;

    background: unset;
    border-bottom: 0.2px solid rgb(80, 82, 82);
}

.footer-container .footer-form .form-submit>button {
    width: 175px;
    font-size: 10px;
    padding: 12px 8px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.footer-container .footer-form .form-submit>button:hover {
    background-color: #000;
}

.footer-app {
    padding: 15px;
}

.footer-app .app-link:hover {
    text-decoration: none;
}

.footer-app .app-link i {
    font-size: 20px;
    padding: 20px 7px;
    cursor: pointer;
}

/* footer-sub */
.footer-sub {}

.footer-sub .sub-content .content-text {
    color: #000;
    font-weight: normal;
    font-size: 12px;
    text-transform: initial;
}

.footer-sub .sub-content .content-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-sub .sub-content .content-list .content-item {
    margin-bottom: 8px;
    /* font-weight: bold; */
    font-size: 12px;
}

.footer-sub .sub-content .content-list .content-item .content-link {
    border: none;
    text-align: left;
    text-decoration: none;
    color: var(--dark-color);

    background-color: transparent;
    padding: 0 0;
    font-size: 11px;
    line-height: 1.45;
    border-radius: 0;
}

.footer-sub .sub-content .content-list .content-item .content-link:hover {
    text-decoration: underline;
}

/* mobile-menu */
.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;

    border-top: 1px solid #eaeaea;
    padding-bottom: 100px;
    z-index: 1000;
    width: 100%;

    top: 60px;
    height: calc(100vh - 52px);
    line-height: 18px;
    transform: translateX(-100%);
}

.mobile-menu.active {
    transform: translateX(0%);

}

.mobile-menu .menu-list {
    list-style: none;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.mobile-menu .menu-list li {
    height: auto;
    border-bottom: 1px solid #eaeaea;
    font-size: 11px;
}

.mobile-menu .menu-list li a {
    padding: 20px 30px;
    width: 100%;
    display: block;
    color: var(--dark-color);
}


.mobile-menu .menu-list li a:hover {
    text-decoration: none;
}

.mobile-menu .menu-list li a i {
    margin: -3px 5px 0 0;
    font-size: 18px;
    width: 20px;
    text-align: center;
}

/* chatbox */
.chatbox {
    z-index: 1001;
    position: fixed;
    right: 2%;
    bottom: 2%;
}

.chatbox .chatbox-btn {
    cursor: pointer;
}

.chatbox .chatbox-content {
    width: 60px;
    height: 60px;
    background-color: #0084ff;
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 60px;
}

/* header-search */
.active {
    display: block !important;
}


.hiden {
    display: none !important;
}

.bars.active {
    display: block !important;
}

.close-icon {
    font-size: 20px;
    display: none;
}

.close-icon.active {
    display: block;
}

.close-icon.active i {
    transform: rotate(180deg);
}

/* chatbox-card */
.chatbox-card {
    width: 375px;
    border-radius: 18px;
    background-color: #fff;
    min-height: 310px;

    position: absolute;
    right: 10%;
    bottom: 120%;
    display: none;
}

.chatbox-card .card-content {
    margin: 24px;
}

.chatbox-card .card-content .content-nav .content-viewbox {
    float: right;
    align-items: center;
    cursor: pointer;
}

.chatbox-card .card-content .content-nav .content-logo img {
    align-self: center;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.chatbox-card .card-content .content-nav .content-viewbox>div {
    gap: 10px
}

.chatbox-card .card-content .content-nav .content-title {
    margin-top: 24px;
}

.chatbox-card .card-content .content-nav .content-title strong {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;

    margin: 24px 0 0 0;
    word-break: break-all;
}

.chatbox-card .card-content .content-nav .content-sub {
    margin-top: 24px;
}

.chatbox-card .card-content .content-nav .content-sub p {
    font-size: 15px;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}

.chatbox-card .card-content .content-nav .content-btn {
    margin-top: 24px;
}

.chatbox-card .card-content .content-nav .content-btn button {
    background: rgb(0, 132, 255);
    align-items: center;
    border-radius: 16px;
    color: #fff;

    cursor: pointer;
    /* display: flex; */
    /* flex-direction: row; */
    font-weight: 600;
    /* justify-content: center; */
    min-height: 54px;
    min-width: 159px;
    outline: none;
    padding: 0 30px 0 30px;
}

.chatbox-card .card-content .content-nav .content-btn button:hover {
    background: rgb(0, 132, 255);
    color: white;
    opacity: 0.9;
}

.chatbox-card .card-content .content-nav .content-modifier {
    margin-top: 24px;
}

.chatbox-card .card-content .content-nav .content-modifier i {
    font-size: 14px;
    margin-right: 5px;
}

.chatbox-card .card-content .content-nav .content-modifier span {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

/* register-overlay */
.register-overlay {
    display: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #999999;

    opacity: 0.96;
    top: 0;
    z-index: 1000;
    bottom: 0;
}

.overlay .cover {
    height: 50Vh;
    width: 80%;
    text-align: center;
    margin: 0 auto;

    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;

    transform: translateY(-50%);
    right: 0;
    padding: 20px 40px;
}

.overlay .cover .content {
    background-color: #fff;
    padding: 20px 40px;
}

.overlay .cover .content .close-button {
    font-size: 25px;
    text-align: right;
    cursor: pointer;
    color: var(--dark-color);
}

.forgot-overlay .forgot-heading,
.content .register-heading {
    margin-bottom: 10px;
}

.forgot-overlay .forgot-heading h3,
.overlay .cover .content .register-heading h3 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 20px;
}

.overlay .cover .content .register-form>div {
    gap: 10px;
    margin-bottom: 10px;
}

.forgot-overlay .forgot-form>div>input,
.overlay .cover .content .register-form>div>input,
.overlay .cover .content .register-form>div>select {
    padding: 20px 10px;
    border: none;
    border-bottom: 0.5px solid #eee;
    font-size: 11px;

    margin-bottom: 10px 0;
    height: 100%;
}

.forgot-overlay .forgot-form>div>input:focus,
.overlay .cover .content .register-form>div>input:focus,
.overlay .cover .content .register-form>div>select:focus {
    border: none;
    border-bottom: 1px solid var(--dark-color);
    box-shadow: unset;
}

.register-form .register-button {
    margin: 25px auto;
    max-width: 265px;
}

.register-form .register-button button {
    width: 100%;
}

/* forgot-password */
.forgot-overlay {
    display: none;
}

.forgot-overlay .overlay .cover .content {
    padding-top: 0;
}

.forgot-overlay .forgot-form {
    margin: 10px auto;
    max-width: 380px;
}


.forgot-overlay .forgot-message {
    font-size: 11px;
    color: var(--dark-color);
    padding: 20px 0 0 0;
    text-transform: none;

    line-height: 35px;
    max-width: 380px;
    margin: 0 auto;
}

.forgot-overlay .forgot-form .forgot-button {
    margin-top: 38px;
    width: 100%;
}

.forgot-overlay .forgot-form .forgot-button button {
    width: 100%;
}

/* contact */

.contact {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
}

.contact .contact-content {
    height: 80vh;
    width: 80vw;
    z-index: 1000;
    position: absolute;

    top: 10%;
    bottom: 0;
    left: 10%;
    right: 10%;

    z-index: 1000;
    background: #fff;
}

.contact .contact-content .content-box {
    padding: 0 150px;
    margin-top: 60px;
}

.contact .contact-content .content-box h3 {
    font-size: 16px;
    color: var(--dark-color);
    text-transform: uppercase;
    margin: 15px 0;
    text-align: center;
}

.contact .contact-content .content-box .content-text span,
.contact .contact-content .content-box .content-text h4 {
    font-size: 11px;
    color: var(--dark-color);
    padding: 20px 0;
}

.contact .contact-content .content-box .content-text span {
    display: block;
    padding-top: 10px;
}

.contact .contact-content .content-box form input {
    height: 45px;
    padding: 10px;
    font-size: 11px;
    width: 100%;
    margin-bottom: 15px;

    border: none;
    border-bottom: 1px solid rgba(225, 225, 225);
}

.contact .contact-content .content-box .content-confirm {
    max-width: 320px;
    margin: 0 auto;
}

.contact .contact-content .content-box .content-confirm .confirm-box {
    border: 1px solid rgb(225, 225, 225);
    padding: 5px 10px;
}

.contact .contact-content .content-box .content-confirm .confirm-box>div>input {
    width: 30px;
    height: 30px;
}

.contact .contact-content .content-box .content-confirm .confirm-box>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--dark-color);
    text-transform: none;
}

.contact .contact-content .content-box .content-confirm .confirm-box .confirm-image {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.contact .contact-content .content-box .content-confirm .confirm-box .confirm-image img {
    background-size: 32px;
    height: 32px;
    margin: 0 13px 0 13px;
    width: 32px;
}

.contact .contact-content .content-box .content-confirm .confirm-box .confirm-image span {
    cursor: default;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin-top: 5px;
    text-align: center;
}

.contact .contact-content .content-box .content-confirm .confirm-box .confirm-image>div>a {
    font-size: 8px;
    font-weight: 400;
    color: var(--dark-color);
}

.contact .contact-content .content-box .content-button {
    margin: 20px auto;
    max-width: 240px;
}

.contact .contact-content .content-box .content-button button {
    width: 100%;
}

.contact .contact-content .content-box .box-close {
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
}

.contact .contact-content .content-box .box-close>i {
    font-size: 40px;
    color: var(--dark-color);
}