.section .category {
    position: fixed;
}

.section .category .category-list {
    list-style: none;
    cursor: pointer;
    margin: 0;
}

.section .category .category-list .category-item {
    font-weight: 400;
    padding: 15px 0 0;
    margin-left: 0px;
    color: #040006;
}

.section .category .category-list .category-item .category-title.collapsed::after {
    content: " +";
}

.section .category .category-list .category-item .category-title::after {
    content: " -";
}

.section .category .category-list .category-item .sub-list.collapse.show::after {}

.section .category .category-list .category-item .sub-list.collapse::after {}

.section .category .category-list .category-item .sub-list .sub-item {
    padding-top: 15px;
    margin-left: 10px;
    list-style: none;
}

.section .category .category-list .category-item .sub-list .sub-link {
    text-decoration: none;
    color: var(--dark-color)
}

.section .category .category-list .category-item .sub-list .sub-link:hover {
    text-decoration: none;
}

/* filter */
.filter {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    right: 40px;
    cursor: pointer;
    z-index: 100;
    color: rgb(80, 82, 82);
    padding: 20px 0;
}

.filter .sort-select {
    width: 100px;
    border: 1px solid #eee;
    cursor: pointer;
}

.filter .filter-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    list-style: none;
}

.filter .filter-option .filter-item {
    margin: 0 10px;
}

.filter .filter-option .filter-item .filter-link {
    font-size: 11px;
}

.filter .filter-option .filter-item .filter-link:hover {
    text-decoration: none;
}

.filter .filter-option .filter-item .filter-link i {
    color: rgb(80, 82, 82);
    font-size: 12px;
}

.filter-dialog.filter-box {
    opacity: 0.95;
    display: block;
}

.filter-dialog {
    width: 100%;
    background-color: white;
    top: 0%;
    left: 0;

    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 100;

    padding-top: 80px;
    opacity: 0;
    display: none;
}

.filter-dialog .content {
    padding: 0 50px;
    height: 100%;
}

.filter-dialog .content .content-list .list-filter {
    list-style: none;
}

.filter-dialog .content .content-list .list-filter .color-name {
    padding: 0 15px 0 25px;
    color: #505252;
    height: 60px;
    width: 100%;

    letter-spacing: 1px;
    text-transform: uppercase;
}

.filter-dialog .content .content-list .list-filter .color-checkbox {
    padding: 20px 50px 0;
    list-style: none;
    height: 200px;
    border-bottom: 1px solid;
}

.filter-dialog .content .content-list .list-filter .size-checkbox {
    padding: 20px 50px 0;
    list-style: none;
    height: 100px;
    border-bottom: 1px solid;
}

.filter-dialog .content .content-list .list-filter .checkbox-item {
    width: 150px;
    float: left;
    border: none !important;
    margin: 0 0 10px;
    cursor: pointer;
    height: 50px;
}

.filter-dialog .content .content-list .list-filter .checkbox-item>input {
    position: absolute;
    left: -9999px;
}

.list-filter .checkbox-item [type*="checkbox"]:checked~.checkbox-label>.checkbox-icon {
    color: #fff;
    opacity: 1;
}

.filter-dialog .content .content-list .list-filter .checkbox-item .checkbox-label {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
}

.checkbox-label>.checkbox-icon {
    opacity: 0;
    position: absolute;
    color: #fff;
    left: 8px;

    top: 8px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    cursor: pointer;
}

.checkbox-label>.checkbox-button {
    top: 6px;
    position: absolute;
    left: 40px;
    font-size: 14px;
}

/* slide */
.ranger-price {
    height: 150px;
}

.price-range-slider {
    width: 50%;
    float: left;
    padding: 10px 20px;
    margin-top: 40px;
}

.price-range-slider .range-value {
    margin: 0;
}

.price-range-slider .range-bar .ui-slider-range {
    background: #505252;
}

.price-range-slider .range-bar {
    border: 2px solid #eee;
    background: transparent;
    height: 10px;
    width: 96%;
    margin-left: 8px;
}

.price-range-slider .range-bar .ui-slider-handle+span {
    background: #fff;
}

.price-range-slider .range-bar .ui-slider-handle {
    border: none;
    border-radius: 100%;
    background: #fff;
    border: 2px solid #505252;

    height: 28px;
    width: 28px;
    top: -10px;
    cursor: pointer;
}

.price-range-slider .range-value input {
    background: none;
    color: #000;
    font-size: 16px;
    font-weight: initial;

    box-shadow: none;
    border: none;
    margin: 20px 0 20px 0;
}

.price-range-slider .range-value input:nth-child(2) {
    float: right;
    text-align: center;
}

/* actions */
.actions {
    display: block;
    text-align: center;
}

.actions .actions-btn {
    display: inline-block;
}

.actions .actions-btn .btn-cancle {
    /* padding: 10px 40px; */
    border-radius: 5px;
    margin: 0 20px;
    color: white;

    background: #a5a5a5;
    max-width: 180px;
    text-transform: uppercase;
}

.actions .actions-btn .btn-apply {
    /* padding: 10px 40px; */
    border-radius: 5px;
    margin: 0 20px;
    color: white;

    background: var(--dark-red);
    text-transform: uppercase;
    max-width: 180px;
}