@media (max-width:450px) {
    .cart {
        padding: 0 10px;
    }

    .main form .previous-link {
        margin-bottom: 15px;
        display: block;
        text-align: center;
    }

    .main form .redirect {
        text-align: center;
        float: unset;
    }

    .sidebar .sidebar-code .code-left,
    .sidebar .sidebar-code .code-right {
        flex: 1;
    }

    .main form>div>select,
    .main form>div>input {
        flex: unset;
    }
}

@media (min-width:768px) {
    .w-md-50 {
        width: 50% !important;
    }

    .header {
        padding-bottom: 5px;
    }

    .auth-mobile-item {
        display: none;
    }

    .image img {
        max-height: 80vh;
    }


    .image-slider .image-item {
        /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px; */
        margin-bottom: 0;
    }

    .product {
        margin-top: 60px;
    }
}

@media (max-width:768px) {
    .h-sm-0 {
        height: 0% !important;
    }

    .d-md-block {
        display: block;
    }

    .d-sm-none {
        display: none;
    }

    .image img {
        max-height: 50vh;
    }

    /* footer-sub */
    .footer-sub .mobile-footer {
        flex-direction: column;
    }

    .footer-sub .mobile-footer .sub-content {
        min-height: auto !important;
        border-bottom: 1px solid #d0d0d0;
        border-radius: 0 !important;
        padding: 15px 0;

        margin: 0 !important;
        position: relative;
        cursor: pointer;
    }

    .footer-sub .mobile-footer .sub-content>span {
        font-size: 12px;
        padding-left: 5px;
    }

    .header-logo {
        width: 140px;
    }

    .header-top {
        margin: 20px 10px;
    }

    .header.active .header-top {
        margin: 20px 10px;

    }

    .section {
        margin-top: 65px;
    }

    .filter {
        padding: 10px 0;
        top: 12%;

    }

    .cSlider--nav>div>div>div {
        width: 80px !important;
        height: 80px !important;
        margin-bottom: 5px;
    }

    .product-order .order-heading,
    .product-size .size-heading,
    .product-benefit .benefit-heading,
    .product-salient .salient-heading h3,
    .product-image .image-heading,
    .product-info .info-heading {
        font-size: 22px;
        padding: 20px;
    }

    .product-info {
        margin-top: 30px;
    }

    .product-info p {
        font-size: 15px;
    }

    .content-description .content-hot .hot-text {
        padding: 10px 0;
        font-size: 26px;
    }

    .content-description .content-text {
        padding: 0;
    }

    .product-subslide .subslide-content {
        padding: 10px;
    }

    .product-benefit .benefit-box>div {
        margin: 0 0 30px 0;
    }

    .product-size {
        margin: 0;
    }

    .product-subslide .subslide-content .subslide-icon {
        width: 60px;
        height: 60px;
    }

    .commit-content>span,
    .commit-content>h4 {
        font-size: 10px;
    }

    .product-subslide .subslide-content .commit-content>p,
    .product-subslide .subslide-content .commit-content>p span {
        font-size: 9px !important;
    }

    .product-page-detail .form-detail .detail-size {
        padding: 0;
    }

    .product-page-detail .form-detail .guide-size {
        padding: 10px 0;
    }

    .product-page-detail .form-detail .guide-size p {
        margin-bottom: 0;
    }

    .product-page .product-page-detail .form-detail {
        margin-top: 10px;
    }

    .product-suggest {
        margin-bottom: 20px;
    }

    .pop-size .size-box {
        height: 40vh;
        width: unset;
        padding: 0;
    }

    .overlay .cover .content .register-form>div {
        flex-wrap: wrap;
    }

    .shopcart-item .shopcart-total .total-money {
        width: 100%;
    }

    .shopcart-view {
        padding-top: 0;
    }

    .shopcart-view .shopcart-item {
        margin: 0;
    }

    .sidebar .sidebar-customer h3 {
        font-size: 14px;
    }

    .sidebar .sidebar-customer {
        padding: 20px 5px;
    }
}

@media (min-width: 992px) {
    .font-md-size {
        font-size: 10px;
    }

    .section {
        margin-top: 110px;
    }

    .header-menu {
        display: block;
        margin-top: 20px;

    }

    .header-top {
        margin: 28px 60px 0 60px;
    }

    .header {
        border: none;
        border-bottom: 1px solid #eaeaea;
    }

    .p-40 {
        padding: 0 40px;
    }

    /* .collapse:not(.show) {
        display: block;
    } */
}

@media (max-width: 992px) {
    .mobile-icon {
        font-size: 18px;
        cursor: pointer;
        color: rgb(80, 82, 82)
    }

    .label-mobile {
        font-size: 16px;
        margin: 5px 10px 0 0;
        cursor: pointer;
        color: rgb(80, 82, 82)
    }

    .search-box.active {
        display: block !important;
        position: absolute;
        right: 10%;
        top: calc(100% + 10px);

        z-index: 9;
        text-align: left;
        -webkit-box-shadow: 0 0 1px 3px rgb(34 34 34 / 25%);
        -moz-box-shadow: 0 0 1px 3px rgba(34, 34, 34, 0.25);
        box-shadow: 0 0 1px 3px rgb(34 34 34 / 25%);
    }

    .btn-search {
        border: none;
        height: unset;
        padding: 5px 10px;
        padding-right: 20px;
    }

    .header {
        height: 75px
    }

    .content-description .content-hot {
        margin-top: 40px;
    }

    .product-suggest .suggest-box .suggest-list {
        flex-wrap: wrap;
    }

    .product-page {
        margin-bottom: 40px;
    }

    .product-page>div:first-child {
        border-right: 5px solid var(--dark-color);
    }

    .shopcart-view .shopcart-item .shopcart-content .shopcart-image {
        width: 97px;
    }

    .shopcart-content .shopcart-info {
        width: calc(100% - 100px);
        display: block;
    }

    .shopcart-content .item-remove {
        top: 10%;
        right: 10%;
    }

    .main {
        order: 2;
        margin-bottom: 50px;
        margin-top: 40px;
    }

    .pay-page .delivery {
        display: none;
    }

    .h-100vh {
        height: auto;
    }

}